<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Calculate window price</h2>
            <h5 class="text-center">Тype of construction</h5>
            <div class="window_list">
                <div class="webfun_win-calc_choose-type__item active" data-default-width="700" data-default-height="1200" data-min-width="300" data-min-height="300" data-max-width="1500" data-max-height="1500">
                    <img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_1_1.png" alt="" class="webfun_win-calc_choose-type__item_img" data-image-number="1_1">
                    <ul class="webfun_win-calc_type-list">
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_1_1.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_1_1.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_1_2.png" alt="" data-image-number="1_2" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_1_2.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_1_3.png" alt="" data-image-number="1_3" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_1_3.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_1_4.png" alt="" data-image-number="1_4" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_1_4.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_1_5.png" alt="" data-image-number="1_5" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_1_5.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_1_6.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_1_6.png')"></li>
                    </ul>
                </div>
                <div class="webfun_win-calc_choose-type__item active" data-default-width="700" data-default-height="1200" data-min-width="300" data-min-height="300" data-max-width="1500" data-max-height="1500">
                    <img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_2_5.png" alt="" class="webfun_win-calc_choose-type__item_img" data-image-number="1_1">
                    <ul class="webfun_win-calc_type-list">
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_2_1.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_2_1.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_2_2.png" alt="" data-image-number="1_2" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_2_2.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_2_3.png" alt="" data-image-number="1_3" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_2_3.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_2_4.png" alt="" data-image-number="1_4" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_2_4.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_2_5.png" alt="" data-image-number="1_5" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_2_5.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_2_6.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_2_6.png')"></li>
                    </ul>
                </div>
                <div class="webfun_win-calc_choose-type__item active" data-default-width="700" data-default-height="1200" data-min-width="300" data-min-height="300" data-max-width="1500" data-max-height="1500">
                    <img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_3_1.png" alt="" class="webfun_win-calc_choose-type__item_img" data-image-number="1_1">
                    <ul class="webfun_win-calc_type-list">
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_3_1.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_3_1.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_3_2.png" alt="" data-image-number="1_2" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_3_2.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_3_3.png" alt="" data-image-number="1_3" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_3_3.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_3_4.png" alt="" data-image-number="1_4" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_3_4.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_3_5.png" alt="" data-image-number="1_5" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_3_5.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_3_6.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_3_6.png')"></li>
                    </ul>
                </div>
                <div class="webfun_win-calc_choose-type__item active" data-default-width="700" data-default-height="1200" data-min-width="300" data-min-height="300" data-max-width="1500" data-max-height="1500">
                    <img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_4_1.png" alt="" class="webfun_win-calc_choose-type__item_img" data-image-number="1_1">
                    <ul class="webfun_win-calc_type-list">
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_4_1.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_4_1.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_4_2.png" alt="" data-image-number="1_2" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_4_2.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_4_5.png" alt="" data-image-number="1_3" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_4_5.png')"></li>
                    </ul>
                </div>
                <div class="webfun_win-calc_choose-type__item active" data-default-width="700" data-default-height="1200" data-min-width="300" data-min-height="300" data-max-width="1500" data-max-height="1500">
                    <img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_5_1.png" alt="" class="webfun_win-calc_choose-type__item_img" data-image-number="1_1">
                    <ul class="webfun_win-calc_type-list">
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_5_1.png" alt="" data-image-number="1_1" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_5_1.png')"></li>
                        <li class=""><img decoding="async" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type-icons/w_5_2.png" alt="" data-image-number="1_2" onclick="openFullscreen('https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_5_2.png')"></li>
                    </ul>
                </div>
            </div>
            <img width="200" height="260" style="margin-left: 170px; margin-top: 35px;" id="fullscreen-img" src="https://vikna.ua/wp-content/plugins/webfun-calc-vikna/img/window-type/i_1_1.png" alt="Fullscreen Image">
        </div>
        <div class="text-center">
            <span>Size of construction:</span>
            <label>
                <input type="text" id="webfun_window-width">
            </label>
            <span id="mm">mm</span>
            <span id="x" class="fw-bold">X</span>
            <label>
                <input type="text" id="webfun_window-width">
            </label>
            <span id="mm">mm</span>
        </div>
    </div>
</div>



