html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.webfun_win-calc_choose-type__item {
    padding-right: 30px;
}

.webfun_win-calc_type-list {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.webfun_win-calc_choose-type__item:hover .webfun_win-calc_type-list {
    display: block;
}

.window_list{
    display: flex;
    margin-left: 50px;
}

.fullscreen-image {
    display: none;
    z-index: 9999;
    margin-top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#webfun_window-width{
}